body {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px 20px 0px;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 0px 8px 8px;
}

a {
	text-decoration: none;
	margin: auto 20px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #0D2C40;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

p {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	line-height: 26px;
	text-transform: none;
}

a {
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

footer{
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright{
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	float: left;
}

.message{
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	float: right;
}

.name{
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	font-weight: 700;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}









